.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader p {
    font: normal 20px 'Source Sans Pro', sans-serif;
}

.loader > img {
    width: 200px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

body {
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font: normal 14px 'Source Sans Pro', sans-serif;
}


.textbox {
    position: absolute;
    border: 2px solid rgba(84, 84, 84, 1);
    background: rgba(84, 84, 84, 1);
    padding: 2px;
    box-shadow: 0 0 10px 1px #000;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #edffff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#searchBar {
    font: bold 10px 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 80px;
    right: 100px;
}