body {
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font: normal 14px Arial, Helvetica, sans-serif;
}
table {
    border-collapse: collapse;
}

table th {
    text-align: left;
    background-color: #295e75;
    color: #fff;
    padding: 4px 30px 4px 8px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}